.login-column {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(249, 212, 0);
    border-radius: 10px;
  
    @media (max-width: 768px) {
      padding: 15px;  // Menos padding en pantallas pequeñas
    }
  }
  
  .imagen-circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  
    @media (max-width: 768px) {
      width: 100px;  // Reducir tamaño en pantallas pequeñas
      height: 100px;
    }
  }
  
  h1.texto-bienvenido {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 10px;
    color: black;
  
    @media (max-width: 768px) {
      font-size: 20px;  // Ajustar tamaño del texto en pantallas pequeñas
    }
  }
  
  p {
    margin-bottom: 20px;
    color: #666;
  
    @media (max-width: 768px) {
      font-size: 14px;  // Ajuste del tamaño de texto en pantallas pequeñas
    }
  }
  
  .texto-registro {
    color: black;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-button {
    --background: #3880ff;
    --border-radius: 10px;
  
    @media (max-width: 768px) {
      --border-radius: 5px;  // Menos borde redondeado en pantallas pequeñas
    }
  }
  
  @media (min-width: 768px) {
    .login-column {
      max-width: 400px;
    }
  }