<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil ✨
    </ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="../../assets/imagenes/luis.jpg" alt="User Avatar" alt="User Avatar" class="imagen-circular" />
        <p class="texto-centro">Bienvenido Luchito</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content [fullscreen]="true">
</ion-content>