/*--------------------------  IMAGEN TOOLBAR BLOCKBUSTER  --------------------------*/
.img-title-toolbar {
    padding-top: 0.25rem;
    min-height: 1.75rem;
    max-height: 1.75rem;
}

//--------------------------------------------------------------------------------------------------------------------//
// ---------                                    EFECTO FADE IN FADE OUT                                      ---------//
// -------------------------------------------------------------------------------------------------------------------//
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-in {
    opacity: 0;
    animation: fadein 0.25s ease-in-out forwards;
}

.fade-out {
    opacity: 1;
    animation: fadeout 0.25s ease-in-out forwards;
}