<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <fa-icon [icon]="faHouseChimney" size="xl"></fa-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <fa-stack class="boton-icono">
        <fa-icon [icon]="faFilm" stackItemSize="2x"></fa-icon>
        <fa-icon [icon]="faFire" animation="beat" transform="up-8 right-9" [style]="{color:'#b81414'}" stackItemSize="1x" class="red-icon"></fa-icon>
      </fa-stack>
      <ion-label>Lo más popular</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onQr($event)">
      <fa-icon [icon]="faChartLine" size="xl"></fa-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <fa-icon [icon]="faBagShopping" size="xl"></fa-icon>
      <ion-label>Hacer pedido</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <fa-icon [icon]="faUser" size="xl"></fa-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
