<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <fa-icon [icon]="['fas','house-chimney']"size="xl"></fa-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <fa-stack class="boton-icono">
        <fa-icon [icon]="['fas','film']" stackItemSize="2x"></fa-icon>
        <fa-icon [icon]="['fas','fire']" animation="beat" transform="up-8 right-9" [style]="{color:'#b81414'}" stackItemSize="1x" class="red-icon"></fa-icon>
      </fa-stack>
      <ion-label>Lo más popular</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <fa-icon [icon]="['far','chart-line']" size="xl"></fa-icon>
      <ion-label>Tu actividad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <fa-icon [icon]="['far','bag-shopping']" size="xl"></fa-icon>
      <ion-label>Hacer pedido</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <fa-icon [icon]="['far','user']" size="xl"></fa-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
