<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Lo más popular🔥
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <h2 class="section-title">PELÍCULAS</h2>
  <p class="section-subtitle">Vive toda la emoción de las películas en estreno.</p>

  <div class="peliculas-grid">
    <div class="pelicula-card" *ngFor="let pelicula of Peliculas">
      <img [src]="pelicula.Imagen" alt="{{pelicula.Titulo}}" class="pelicula-imagen" />
      <div class="pelicula-titulo">{{pelicula.Titulo}}</div>
    </div>
  </div>
</ion-content>
