.section-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.section-subtitle {
  font-size: 1.2em;
  color: #6c757d;
}

.peliculas-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Ajusta a 2 columnas */
  gap: 15px;
}


