<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Lo más popular🔥
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <h2 class="section-title">PELÍCULAS</h2>
  <p class="section-subtitle">Vive toda la emoción de las películas en estreno.</p>

  <div class="peliculas-grid">
    <app-pelicula-card-big [pelicula]="pelicula" *ngFor="let pelicula of Peliculas"></app-pelicula-card-big>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>



  </div>
</ion-content>
