/*--------------------------  TITULO PROXIMO LANZAMIENTO --------------------------*/
.titulo-proximos-lanzamientos {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 1rem;
}

/*--------------------------  SCROLL BAR CATEGORIAS  --------------------------*/
.category-scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: start;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.category-scroll-container::-webkit-scrollbar {
    display: none; // Ocultamos el scrollbar
}

.ion-row-scroll-horizontal {
    display: flex;
    flex-wrap: nowrap;
}

.category-button {
    background-color: transparent;
    color: #7f7d7d;
    min-width: fit-content;
    margin-right: 0.5rem;
    white-space: nowrap;
    font-weight: bold;
}

.selected-button {
    color: white;
}

/*--------------------------  TITULO SEGUIR VIENDO --------------------------*/
.titulo-continuar-viendo {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: small;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.titulo-continuar-viendo .continuar-viendo {
    font-weight: 600;
    font-size: medium;
}

.titulo-continuar-viendo .ver-todo {
    font-weight: 700;
    font-size: small;
    color: #ffaa00;
}

/*--------------------------  LISTA PELÍCULAS SEGUIR VIENDO  --------------------------*/
.lista-peliculas-seguir-viendo {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: start;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.lista-peliculas-seguir-viendo::-webkit-scrollbar {
    display: none; // Ocultamos el scrollbar
}

.lista-peliculas-seguir-viendo .pelicula-item {
    max-width: 15rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.lista-peliculas-seguir-viendo .imagen-continuar{
    border-radius: 1rem;
    cursor: pointer;
    object-fit: cover;
}