<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Inicio 🎞️</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- title proximos estrenos -->
  <ion-label class="titulo-proximos-lanzamientos">🔥 Próximos Lanzamientos 🔥</ion-label>

  <!-- slider películas inicio -->
  <swiper-container speed="500" autoplay="true" style="margin-top: 1rem;">
    <swiper-slide><img src="assets/imagenes/alien.png" alt="slider1"
        style="border-radius: 1rem 0 0 1rem;"></swiper-slide>
    <swiper-slide><img src="assets/imagenes/coraline.png" alt="slider2"></swiper-slide>
    <swiper-slide><img src="assets/imagenes/transformers.png" alt="slider3"
        style="border-radius: 0 1rem 1rem 0;"></swiper-slide>
  </swiper-container>

  <!-- lista de categorías -->
  <ion-grid class="category-scroll-container" [fixed]="true">
    <ion-row class="ion-row-scroll-horizontal">
      <ion-col size="auto" *ngFor="let category of categorias">
        <button class="category-button" [ngClass]="{'selected-button': isCategorySelected(category)}"
          (click)="selectCategory(category)">
          {{ category }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- titulo continuar viendo -->
  <ion-grid class="titulo-continuar-viendo" [fixed]="true">
    <ion-row>
      <ion-col class="continuar-viendo">Continuar viendo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ver-todo">Ver todo</ion-col>
    </ion-row>
  </ion-grid>

  <!-- lista de películas seguir viendo -->
  <ion-grid class="lista-peliculas-seguir-viendo" [fixed]="true">
    <ion-row class="ion-row-scroll-horizontal">
      <ion-col size="auto" class="pelicula-item">
        <img class="imagen-continuar" src="assets/imagenes/continuar_shrek.png" alt="shrek"> <br>
        <ion-label>Shrek 2</ion-label>
      </ion-col>
      <ion-col size="auto" class="pelicula-item">
        <img class="imagen-continuar" src="assets/imagenes/continuar_soul.png" alt="soul"> <br>
        <ion-label>Soul</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>