<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  ></ion-menu-button>
    </ion-buttons>
    <ion-title> Inicio 🎞️</ion-title>


  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <swiper-container :autoplay="true" style="margin-top: 40px">
    <swiper-slide><img src="assets/imagenes/alien.png" alt=""></swiper-slide>
    <swiper-slide><img src="assets/imagenes/coraline.png" alt=""></swiper-slide>
    <swiper-slide><img src="assets/imagenes/transformers.png" alt=""></swiper-slide>
  </swiper-container>
</ion-content>
