<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="pelicula; else loading" class="fade-in">

    <!-- ion grid información película -->
    <ion-grid class="ion-grid-container container-info-pelicula" [fixed]="true">

      <!-- card info película-->
      <ion-card class="card-info">
        <!-- imagen portada -->
        <img #imagenPortada class="imagen" alt="{{pelicula.title}}"
          [src]="linkPelicula" />
        <ion-card-header>
          <ion-card-title class="title-pelicula">{{pelicula.title}}</ion-card-title>
          <ion-card-subtitle class="subtitle-pelicula">{{pelicula.release_date}} • {{pelicula.category}} •
            {{pelicula.duration}}</ion-card-subtitle>
          <ion-button class="btn-continuar-viendo">
            <ion-icon slot="start" name="play"></ion-icon>
            Ver ahora
          </ion-button>
          <ion-button class="btn-arrendar-pelicula">
            <ion-icon slot="start" name="cart"></ion-icon>
            Arrendar por ${{pelicula.price}}
          </ion-button>
        </ion-card-header>

        <!-- card content -->
        <ion-card-content class="sinopsis">

          <!-- sinopsis -->
          {{pelicula.overview}}
          <!-- ion row opcion botones -->

          <ion-row class="row-botones">
            <ion-col size="auto" class="col-botones">
              <ion-button class="boton-opciones">
                <ion-icon slot="start" name="bookmark"></ion-icon>
                Watchlist
              </ion-button>
            </ion-col>
            <ion-col size="auto" class="col-botones">
              <ion-button class="boton-opciones">
                <ion-icon slot="start" name="heart"></ion-icon>
                Me gusta
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-grid>

  </div>

  <ng-template #loading>
    <div *ngIf="!pelicula" class="loading-placeholder">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>


</ion-content>