<ion-split-pane contentId="main-content" when="(min-width: 999999px)">
  <ion-menu type="overlay" contentId="main-content">

    <ion-content>
      <!-- ARREGLAR LA CAGADITA FEA ESTA DESPUÉS DE LA ENTREGA MIÉRCOLES 30 OCTUBRE

      <div class="profile-section">

        <div class="profile-section-1">
          <ion-menu-toggle autoHide="false">
            <ion-avatar>
              <img routerLink="tabs/tab5" src="../../assets/imagenes/lucho_jara.png" alt="User Avatar">
            </ion-avatar>
            <h2>Luchito</h2>
          </ion-menu-toggle>
          <div class="login-register-section">
            <a routerLink="login">
              <ion-button expand="full" shape="round" color="primary">
                <ion-icon slot="start" name="key"></ion-icon>
               Iniciar Sesión
              </ion-button>
            </a>
            <a routerLink="register">
              <ion-button expand="full" shape="round" color="secondary">
                <ion-icon slot="start" name="person-add"></ion-icon>
                Registrarse
              </ion-button>
            </a>
          </div>
        </div>

        <div class="profile-section-2">
          <div class="profile-section-3">
              <fa-icon [icon]="faGear"></fa-icon>
            </a>
          </div>
          <div class="profile-section-4">
            <ion-back-button></ion-back-button>
          </div>
        </div>
      </div>
    -->

      <!-- LISTA DE OPCIONES DEL MENU DESPLEGABLE DE LA IZQUIERDA DE LA APLICACIÓN -->

      <ion-list>
        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/tabs/tab1">
            <ion-label>🏠 Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/tabs/watchlist">
            <ion-label>📽️ Watchlist</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/tabs/tab2">
            <ion-label>🤩 Novedades</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/series">
            <ion-label>📺 Series</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/peliculas">
            <ion-label>🎬 Películas</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/categorias">
            <ion-label>🗃️ Categorías</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>