<ion-split-pane contentId="main-content" when="(min-width: 999999px)">
  <ion-menu type="overlay" contentId="main-content">

    <ion-content>
      <div class="profile-section">
        <div class="profile-section-1">

          <ion-menu-toggle autoHide="false">
            <ion-avatar>
              <img routerLink="tabs/tab5" ngSrc="../../assets/imagenes/lucho.jpg" alt="User Avatar" height="573"
                width="535">
            </ion-avatar>
          </ion-menu-toggle>

          <!-- <a routerLink="login">
            <ion-menu-toggle autoHide="false">
              <h2>🗝️Login/Registro</h2>
            </ion-menu-toggle>
          </a> -->

        </div>
        <div class=" profile-section-2">

          <div class="profile-section-3">
            <a class="icono-menu">
              <fa-icon [icon]="faGear"></fa-icon>
            </a>

          </div>

          <div class="profile-section-4">

            <ion-back-button></ion-back-button>
            <a routerLink="login" class="link-Login">
              <ion-menu-toggle autoHide="false">
                <ion-button size="small">
                  <ion-icon slot="end" name="key"></ion-icon>

                </ion-button>
              </ion-menu-toggle>

              <!-- <ion-menu-toggle autoHide="false">
                Entrar
              </ion-menu-toggle> -->
            </a>

          </div>

        </div>
      </div>
      <ion-list>
        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/tabs/tab1">
            <ion-label>🏠 Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/watchlist">
            <ion-label>📽️ Watchlist</ion-label>
          </ion-item>
        </ion-menu-toggle>


        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/tabs/tab2">
            <ion-label>🤩 Novedades</ion-label>
          </ion-item>
        </ion-menu-toggle>


        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/series">
            <ion-label>📺 Series</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/peliculas">
            <ion-label>🎬 Películas</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button routerLink="/categorias">
            <ion-label>🗃️ Categorías</ion-label>
          </ion-item>
        </ion-menu-toggle>


      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>