.pelicula-card-container{
  width: 100%;
  //overflow: hidden;
  position: relative;
  //-webkit-transform-style: preserve-3d;
  //transform-style: preserve-3d;
  //-webkit-transform         : transform 1s;
  //-ms-transform         : transform 1s;
  //transform         : transform 1s;
}
.pelicula-card {
  //background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  position: relative;
  //width: 100%;
}

.pelicula-imagen {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.pelicula-data{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.pelicula-titulo {
  background-color: #F5D63B; /* Color de fondo amarillo */
  color: #000000;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.pelicula-precio{
  background-color: #800000;
  width: 100%;
  padding: 6px;
}
.peliculas-card-options{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  ion-button{
    filter: drop-shadow(5px 5px 10px #000000);
    color: white;
    font-size: 12px;
  }
}

.page-side{
  //width: 100%;
  //height: 100%;
  //position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  color: #fff;
  //text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-front {
  //-webkit-transform : rotateY(0deg);
  //-ms-transform     : rotateY(0deg);
  //transform         : rotateY(0deg);
}
.page-back {
  top: 0;
  background: #23262d;
  //-webkit-transform : rotateY(-180deg);
  //-ms-transform     : rotateY(-180deg);
  //transform         : rotateY(-180deg);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  overflow: scroll;
  padding: 10px;
}


